@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 50;
}

header{
    margin: 0;
    padding: 0;
    background-color: #111011;
    color: white;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
}

#divisao-topo{
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
}

#divisao-topo > ul{
    list-style-type: none;
}

#divisao-topo > ul> li > .entrarRegistrar{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

main{
    max-width: 1024px;
    margin: 75px auto;
    padding: 10px 20px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #111011;
    color: white;
}

label{
    font-size: 12pt;
}

.input{
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    font-size: 12pt;
    border: black solid 1px;
    font-family: 'Poppins', sans-serif;
}

.mediumInput{
    border-radius: 5px;
    padding: 5px;
    font-size: 12pt;
    border: black solid 1px;
    width: 150px ;
    font-family: 'Poppins', sans-serif;
}

.inicio{
    color: white;
    text-decoration: none;
}

button{
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    font-size: 12pt;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.menuEsquerda{
    display: flex;
    align-items: center;
}

.menuButton {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    border-radius: 5px;
    height: 2px;
    background-color: #ffffff;
    margin: 9px;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .mostrar {
    display: flex;
    z-index: 99;
    flex-direction: column;
    top: 70px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
    text-align: left;
  }

  table{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 11pt;
  }

  .tableButton{
    width: 100%;
    font-size: 11pt;
    color: black;
    background: none;
  }

  .fmrAlteraInvestimento{
    gap: 10px;
    min-width: 400px;
    color: white;
    padding: auto;
    align-items: center;
  }

  .fmrGuardaMeta{
    gap: 10px;
    min-width: 400px;
    color: white;
    padding: auto;
    align-items: center;
  }