body{
    margin: 0;
    padding: 0;
    background-image: url(img/Financas-corporativas-o-que-e-20220519145249.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: #111011;
}

body::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #111011;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

#principal{
    content: "";
    width: 100%;
    height: 100%;
    color: white;
    font-size: 60px;
    margin: 0 auto;
    position: relative;
    text-shadow: 1px 1px 1px #111011;
    
}