#principal{
    content: "";
    width: 100%;
    height: 100%;
    top: 50px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    text-align: center;
}

form{
    align-items: center;
    margin: 0 auto;
}

form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

form > button{
    background-color: #111;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

a{
    color: black;
    text-decoration: none;
}