#principal{
    max-width: 1024px;
    width: 100%;
}

.opcoesPerfil > li > a{
    text-decoration: none;
    color: white;
}

.opcoesPerfil{
    display: flex;
    gap: 15px;
}

.saldoAtual{
    display: flex;
    flex-direction: column;
    font-size: 16pt;
}

.creditoDisponivel{
    margin-bottom: 10px;
}

button{
    background-color: #111011;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.movimentacoesPrincipal{
    text-align: center;
}

/* .menuEsquerda:hover .subMenuItens{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
    margin-top: 30px;
    justify-content: center;
} */

.subMenuItens{
    display: none;
    position: absolute;
    background-color: rgb(95, 95, 95);
    z-index: 1;
    padding: 0 10px;
}

.subMenuItens > a{
    color: white;
    text-decoration: none;
}

h3{
    margin: 0;
    padding: 0;
}