.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #000000;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ffffff6a;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .calculator {
      border: 1px solid #ccc;
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  #display-normal, #display-juros, #display-investimentos, #display-aposentadoria {
      padding: 10px; /* Adicione espaço ao redor do visor */
      margin: 10px auto; /* Adicione margem ao redor do visor */
  }
  
  .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
  }
  
  .buttons > button {
      padding: 10px;
      font-size: 12pt;
  }
  
  #resultado-normal, #resultado-juros, #resultado-investimentos, #resultado-aposentadoria {
      margin-top: 10px;
  }

  #principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    top: 150px;
  }

  button{
    margin-top: 10px;
  }

  body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}